In [62]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\shubh\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\shubh\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\shubh\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\shubh\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\shubh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [63]:
import pandas as pd

In [70]:
a=pd.read_csv("C://excelrdata//Q7.csv")
a

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [67]:
mean_Points=a.Points.mean()
median_Points=a.Points.median()
mode_Points=a.Points.mode()
var_Points=a.Points.var()
std_Points=a.Points.std()

In [68]:
print("#RESULT FOR POINTS","\nMean:", mean_Points, "\nMedian:",median_Points,"\nMode:",mode_Points,"\nVarience",var_Points,"\nStandard deviation",std_Points,)

#RESULT FOR POINTS
Mean: 3.5965625000000006
Median: 3.6950000000000003
Mode: 0    3.07
1    3.92
dtype: float64
Varience 0.28588135080645166
Standard deviation 0.5346787360709716

In [74]:
mean_Score=a.Score.mean()
median_Score=a.Score.median()
mode_Score=a.Score.mode()
var_Score=a.Score.var()
std_Score=a.Score.std()

In [76]:
print("#RESULT FOR SCORE","\nMean:", mean_Score, "\nMedian:",median_Score,"\nMode:",mode_Score,"\nVarience",var_Score,"\nStandard deviation",std_Score,)

#RESULT FOR SCORE
Mean: 3.2172499999999995
Median: 3.325
Mode: 0    3.44
dtype: float64
Varience 0.9573789677419356
Standard deviation 0.9784574429896967

In [77]:
mean_Weigh=a.Weigh.mean()
median_Weigh=a.Weigh.median()
mode_Weigh=a.Weigh.mode()
var_Weigh=a.Weigh.var()
std_Weigh=a.Weigh.std()

In [79]:
print("#RESULT FOR WEIGH","\nMean:", mean_Weigh, "\nMedian:",median_Weigh,"\nMode:",mode_Weigh,"\nVarience",var_Weigh,"\nStandard deviation",std_Weigh,)

#RESULT FOR WEIGH
Mean: 17.848750000000003
Median: 17.71
Mode: 0    17.02
1    18.90
dtype: float64
Varience 3.193166129032258
Standard deviation 1.7869432360968431